beautifulsoup4
certifi
cffi
charset-normalizer
contourpy
cycler
fonttools
html5lib
idna
joblib
kiwisolver
lxml
matplotlib
multitasking
numpy
packaging
pandas
patsy
peewee
pillow
pip
platformdirs
pycparser
pyparsing
pyside6
pysocks
python-dateutil
requests
scikit-learn
scipy
seaborn
setuptools
six
soupsieve
statsmodels
threadpoolctl
tornado
typing-extensions
urllib3
webencodings
wheel
yfinance
zstandard